.content {
  padding: 20px;
  background-color: #f8f9fa;
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #343a40;
}

/* Input field styling */
.form-control {
  border-radius: 6px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 16px;
}

.input-group-append .input-group-text {
  background-color: #fff;
  border-left: none;
  cursor: pointer;
}

.input-group {
  position: relative;
}

.input-group .input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Styling ul dan li untuk password criteria */
.password-criteria {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.password-criteria li {
  font-size: 14px;
  color: #6c757d;
}

.password-criteria li.valid {
  color: green;
}

.password-criteria li.invalid {
  color: red;
}

/* Styling tombol */
.btn-block {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.btn-block:hover {
  background-color: #0056b3;
}

/* Styling alert */
.alert {
  margin-bottom: 20px;
  border-radius: 6px;
}

.alert-dismissible .close {
  color: #000;
  opacity: 0.5;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

/* Breadcrumb styling */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.box-password {
  border-top: solid #4682b4 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}